body{
	font-family: Arial;
}
.container {
    page-break-after: always;
    width: 210mm;
    height: 297mm;
    margin: auto;
    border: 1px solid #ccc;
}
.card {
    width: 105mm;
    height: 148.5mm;
    display: inline-grid;
}
.content {
	position: relative;
    margin: auto;
    width: 88mm;
    height: 128mm;
    border: 4mm solid #ccc;
	overflow: hidden;
}

.res-pat {
    border: 4mm solid hsl(0, 0%, 63%);
}
.lib-1 {
    border: 4mm solid hsl(78, 55%, 52%);
}
.lib-2 {
    border: 4mm dashed hsl(78, 55%, 52%);
}

.categorie {
    width: 78mm;
	font-size: 1.8em;
	line-height: 1.2;
	padding: 5mm; 
	margin-bottom: 3mm;
	text-transform: uppercase;
	
	
	color: white;
	letter-spacing: 0.25mm;
}
.sub-categorie{
	font-size: 0.5em;
	font-style: italic;
}
.icon {
    position: absolute;
    border-radius: 16mm;
    height: 26mm;
    width: 26mm;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18mm;
    top: 14mm;
    left: 53mm;
    border: 3mm solid white;
}
.method {
    width: 88mm;
    font-size: 1.3em;
    line-height: 1.2; 
    padding: 2mm 5mm 2mm 5mm;
	letter-spacing: 0.25mm;
}
.card-img {
    height: 45mm;
	display: block;
    margin: auto;
}







.library-col{background-color: hsl(78, 55%, 52%);}
.field-col{background-color: hsl(174, 41%, 55%);}
.lab-col{background-color: hsl(261, 78%, 70%);}
.showroom-col{background-color: hsl(44, 93%, 66%);}
.workshop-col{background-color: hsl(190, 82%, 45%);}
.steps-col{background-color: hsl(337, 96%, 62%);}